.cardSection {
	padding: 60px 0;
	background-color: (--white);
	width: 100%;
}

.titleVoid {
	text-align: center;
	font-size: 2em;
	font-weight: normal;
}

.cardlistBtn {
	display: block;
	padding: 15px;
	background-color: var(--orange);
	color: var(--white);
	margin: 0 auto;
	transition: opacity 0.3 ease-in-out;
	-webkit-transition: opacity 0.3 ease-in-out;
	-moz-transition: opacity 0.3 ease-in-out;
	-ms-transition: opacity 0.3 ease-in-out;
	-o-transition: opacity 0.3 ease-in-out;
}

.cardlistBtn:hover {
	opacity: 0.7;
}

@media all and (min-width: 1024px) {
	.cardsList {
		padding: 0;
		margin: 0;
	}
}
