.container {
	width: 100%;
	flex: 1 1 0%;
	position: relative;
}

.listContainer {
	/* если что убрать  */
	position: relative;
}

.list {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
}
